.card{
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius:8px;
    overflow: hidden;
    box-sizing: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    background-color: aquamarine;
}